@model List<Fiap.Lista03.MVC.Web.Models.Produto>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Data de Cadastro</th>
            <th>Valor</th>
            <th>Nacional</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Descricao</td>
                <td>@item.DataCadastro</td>
                <td>@item.Valor</td>
                <td>@item.Nacional</td>
            </tr>
        }
    </tbody>
</table>